*{
    margin:0;
    padding:0;
    
}
body{
    display:flex;
    justify-content:center;
    align-items: center;
    
}
.container{
    max-width: 450px;
    background: skyblue;
    border-radius: 8px;
    padding: 20px;
    margin-top: 50px;
}

.heading{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: underline;  
}

h1{
    color: #1325e3;
    letter-spacing: 1.3px;
    font-size: 32px;
}

#celsius, #fahrenheit, #kelvin{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}
input{ 
    height: 60px;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    border: none;
    border-radius: 8px 0 0 8px;
    padding: 0 10px;
}

.icon{
    flex :1px;
    height: 60px;
    line-height: 60px;
    padding: 0 5px;
    text-align: center;
    font-size: 30px;
    background: #83b5e3;
    color: #fff;
    border-radius: 0 8px 8px 0;
}
.button{
    margin-top: 25px;
    text-align: center;
}
.button button{
    padding: 10px 30px;
    font-size: 20px;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s;
    border:3px solid white;
}

.button button:hover{
    background: #318cdc;
    color: #fff;
    border:3px solid blue
}